.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif; 
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 48px;
    color: white;
    background-color: #1f2937;
    width: 100%;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%
}

.nav {
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    gap: 64px;
    font-size: 18px;
    color: #e5e7eb

}

.bottom-header {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 4px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(180, 180, 180)
}

img {
    height: auto;
    width: 150px;
}

.card > img{
    border: 5px solid #0165E1
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

h1 {
    font-size: 48px
}

.hero-main-text {
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: -20px
}

.register {
    background-color: #0165E1;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 24px;
    color: white;
    font-weight: 600;
}

.more-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text-more {
    color: #1f2937;
    font-weight: 700px;
    font-size: 36px
}

.card-container {
    display: flex;
    gap: 48px;
    flex-direction: row;
    width: 100%;
}