html, body {
    margin: 0;
    padding: 0
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif; 
    gap: 36px
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 48px;
    color: white;
    background-color: #1f2937;
    width: 100%;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    gap: 64px;
    font-size: 18px;
    color: #e5e7eb

}

.bottom-header {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 100%
}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 4px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(180, 180, 180)
}

img {
    height: auto;
    width: 150px;
}

.card > img{
    border: 5px solid #0165E1
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

h1 {
    font-size: 48px
}

.hero-main-text {
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: -20px
}

button {
    background-color: #0165E1;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 24px;
    color: white;
    font-weight: 600;
}

.more-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text-more {
    color: #1f2937;
    font-weight: 700;
    font-size: 36px
}

.card-container {
    display: flex;
    gap: 48px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.quote-container {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 36px;
    height: 300px;
}   

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#name {
    align-self: flex-end;
    font-weight: 700;
    color: #1f2937;
    font-size: 24px;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;

}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.modal {
    background-color: #0165E1;
    color: white;
    padding: 36px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    border: 1px transparent;
    border-radius: 10px
}

.text-modal-header {
    font-size: 24px;
    font-weight: 700
}

.text-description {
    font-size: 16px;
    color: #e5e7eb
}

.modal-button {
    border: 2px solid white;
    border-radius: 5px
}

.footer {
    background-color: #1f2937;
    color: white;
    font-size: 12px;
    padding: 8px 100px;
    display: flex;
    justify-content: center;
}

.header, .quote-container, .footer {
    width: 100vw;
    box-sizing: border-box;
}

* {
    box-sizing: border-box
}